@model SystemEkspercki.Models.ViewModel.UserAnswerViewModel
           


@using (Html.BeginForm("AnswerQuestion", "Home"))
{

    @Html.Hidden("questionId", Model.QuestionId)
    @Html.Action("Show", "Question", new { id = @Model.QuestionId })

    @:<div id="navigation">
        if (Model.QuestionId != 1)
        {
        <a href="@Url.Action("Index", "Home", new {id = Model.QuestionId - 1})">
            <div id="naviButton"><</div>
        </a>
        }


        if (Model.QuestionId != Model.MaxQuestionId)
        {
        <input type="submit" value="Zapisz odpowiedź i przejdź dalej" />
        <a href="@Url.Action("Index", "Home", new {id = Model.QuestionId + 1})">
            <div id="naviButton">></div>
        </a>
        }
        else
        {
        <input type="submit" value="Zapisz" />

        }
    @:</div>
}

