
@model System.Collections.Generic.IEnumerable<SystemEkspercki.Models.Laptop>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Specyfikacja
        </th>
        <th>
            Kup
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Name)">Zobacz pełną specyfikację</a>
            </td>
            <td>
                <a href="http://www.ceneo.pl/;szukaj-@Html.DisplayFor(modelItem => item.Name)">Wyszukaj w Ceneo</a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Index", "Home")">
    <div id="button">Nowa ekspertyza</div>
</a>
